{% extends "main/layout.html" %}
{%block title%}Profile page{%endblock%}
{% block content %}
    <div class="content-section " >
      <div class="media toggle-element" id="element1">
        <img class="rounded-circle account-img" src="{{ author.profile.image.url }}">
        <div class="media-body">

          <h2 class="account-heading">{{ author.username }}</h2>
            {%if is_owner%}
            <button class="text-muted toggleButton" id="toggleButton">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg></button>{%endif%}

          <p class="text-secondary">{{ author.name }}</p>
          <p class="text-secondary">{{ author.email }}</p>
          <p class="text-secondary">{{ author.date_of_birth }}</p>
        </div>
      </div>

        <h2>{{author.username}}'s Posts</h2>
        {%if posts %}
            {% for post in posts %}
                <div class="post-wrapper">
                <h2>{{ post.title| upper  }} </h2>
                <p><a href="{%url 'profile' post.author.id%}" class="text-muted"> {{ post.author }}</a></p>
            {% if post.post_image %}
                <img src="{{ post.post_image.url }}" alt="">
            {% endif %}
                <h3>{{ post.content }}</h3>
                <p>Published: {{ post.created_at|date }}</p>
                </div>
            {% endfor %}
        {%else%}
            <h4 class="text-muted">No posts yet:(</h4>
        {%endif%}



      <div class="toggle-element hidden" id="element2">

      <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ u_form.as_p }}
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    {{ p_form.as_p }}
    <button type="submit">Update</button>
</form>
        </div>
    </div>
{% endblock content %}

{%block js%}<script>
   document.getElementById("toggleButton").addEventListener("click", function() {
            var element1 = document.getElementById("element1");
            var element2 = document.getElementById("element2");

            if (element1.classList.contains("hidden")) {
                element1.classList.remove("hidden");
                element2.classList.add("hidden");
            } else {
                element1.classList.add("hidden");
                element2.classList.remove("hidden");
            }
        });
</script>
{%endblock%}
